.catalog-sections__item {
  background-color: @basic_grey;
}

.catalog-sections__heading {
  color: @basic_black;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
}

.catalog-sections__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}

.catalog-sections__link {
  color: @basic_black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}
