.contacts__heading {
  color: @special_black;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}
