.process__heading {
  color: @basic_black;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}

.process__list {
  .list-reset();
}

.process__item {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
