.promo {
  margin: 0 auto;
  background-image: url('../img/promo-background.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 320px 302px;
  color: @basic_white;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    width: 708px;
    padding-left: 87px;
    padding-bottom: 526px;
    background: none;
    color: @basic_black;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    padding-top: 223px;
    padding-left: 80px;
    padding-bottom: 185px;
    margin-top: -90px;
    margin-bottom: 82px;
  }
}

.promo__block {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 164px;
  background-color: fade(@basic_green, 85%);

  @media (min-width: @tablet) {
    padding: 0;
    background-color: transparent;
  }
}

.promo__heading {
  width: 252px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet) {
    width: 424px;
    margin: 0;
    margin-bottom: 41px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 40px;
  }
}

.promo__text {
  width: 227px;
  margin: 0 auto;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    width: 315px;
    margin: 0;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -130px;
  margin-bottom: 3px;

  @media (min-width: @tablet) {
    display: none;
  }
}

.promo__button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: @basic_green;
  color: @basic_white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: @tablet) {
    width: 244px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
