@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page {
  height: 100vh;
}
.page__body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #444444;
  font-family: sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
}
.page-header {
  position: relative;
  z-index: 1;
  padding: 10px 10px 17px 20px;
}
@media (min-width: 768px) {
  .page-header {
    padding: 24px 30px 62px 30px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding: 53px 110px 0 110px;
  }
}
.page-header__nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .page-header__nav {
    width: 1220px;
  }
}
.page-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
@media (min-width: 768px) {
  .page-header__logo {
    margin-right: 94px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    margin-right: 540px;
  }
}
.logo__image {
  margin-right: 56px;
}
@media (min-width: 768px) {
  .logo__image {
    margin-right: 12px;
  }
}
.page-header__toggler {
  position: relative;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .page-header__toggler {
    display: none;
  }
}
.page-header__toggler::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.page-header__menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: transparent;
}
.page-header__menu--open {
  display: block;
}
@media (max-width: 768px) {
  .page-header__menu {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .page-header__menu {
    position: static;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .page-header__menu {
    width: 488px;
  }
}
.page-header__menu-item {
  border-bottom: 1px solid #e6e6e6;
}
.page-header__menu-item--active {
  text-decoration: underline;
  text-decoration-color: #68b738;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}
@media (max-width: 768px) {
  .page-header__menu-item--active {
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .page-header__menu-item {
    border: none;
  }
}
@media (min-width: 1440px) {
  .page-header__menu-item {
    text-decoration-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .page-header__menu-item:first-child {
    margin-right: 34px;
  }
}
@media (min-width: 1440px) {
  .page-header__menu-item:first-child {
    margin-right: 37px;
  }
}
@media (min-width: 768px) {
  .page-header__menu-item:nth-child(2) {
    margin-right: 36px;
  }
}
@media (min-width: 1440px) {
  .page-header__menu-item:nth-child(2) {
    margin-right: 36px;
  }
}
.page-header__menu-link {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: block;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald";
  font-weight: 900;
  font-style: normal;
}
@media (min-width: 768px) {
  .page-header__menu-link {
    display: inline;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .page-header__menu-link:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .page-header__menu-link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1440px) {
  .page-header__menu-link {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }
  .page-header__menu-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .page-header__menu-link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.promo {
  position: relative;
  margin: 0 auto;
  background-image: url('../img/promo-background.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 320px 302px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo {
    width: 708px;
    padding-left: 87px;
    padding-bottom: 526px;
    background: url("../img/cat-pro-energy@tablet.png") no-repeat 0 207px/709px 609px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .promo {
    width: 1220px;
    padding-top: 223px;
    padding-left: 80px;
    padding-bottom: 185px;
    margin-top: -90px;
    margin-bottom: 82px;
    background: url("../img/cat-pro-energy@desktop.png") no-repeat 450px 150px/552px 499px;
  }
  .promo::before {
    position: absolute;
    top: -1px;
    right: -110px;
    z-index: -1;
    content: "";
    width: 720px;
    height: 694px;
    background: url("../img/promo-background@desktop.png") no-repeat;
  }
  .promo::after {
    position: absolute;
    top: -1px;
    right: -110px;
    z-index: -1;
    content: "";
    width: 720px;
    height: 694px;
    background-color: rgba(104, 183, 56, 0.85);
  }
}
.promo__block {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 164px;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .promo__block {
    padding: 0;
    background-color: transparent;
  }
}
.promo__heading {
  width: 252px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .promo__heading {
    width: 424px;
    margin: 0;
    margin-bottom: 41px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .promo__heading {
    margin-bottom: 40px;
  }
}
.promo__text {
  width: 227px;
  margin: 0 auto;
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    width: 315px;
    margin: 0;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .promo__text {
    margin-bottom: 52px;
  }
}
.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -130px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .promo__image {
    display: none;
  }
}
.promo__button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #68b738;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
.promo__button:hover {
  background-color: #5eaa2f;
}
.promo__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .promo__button {
    width: 244px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
.catalog-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    gap: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections {
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    margin-bottom: 71px;
  }
}
.catalog-sections__item {
  position: relative;
  width: 280px;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    width: 708px;
    padding: 77px 316px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__item {
    width: 570px;
    padding: 77px 51px 55px 52px;
  }
}
.catalog-sections__item::before {
  position: absolute;
  top: 21px;
  left: 22px;
  content: "";
  width: 50px;
  height: 53px;
  border-radius: 50%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-sections__item::before {
    top: 81px;
    left: 446px;
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__item::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }
}
.catalog-slim {
  position: absolute;
  top: 21px;
  left: 29px;
}
@media (min-width: 768px) {
  .catalog-slim {
    top: 81px;
    left: 476px;
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1440px) {
  .catalog-slim {
    top: 41px;
    left: 67px;
    width: 70px;
    height: 97px;
  }
}
.catalog-pro {
  position: absolute;
  top: 35px;
  left: 13px;
}
@media (min-width: 768px) {
  .catalog-pro {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 112px;
  }
}
@media (min-width: 1440px) {
  .catalog-pro {
    top: 67px;
    left: 33px;
    width: 134px;
    height: 56px;
  }
}
.catalog-sections__heading {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__heading {
    margin-left: 160px;
    margin-bottom: 73px;
  }
}
.catalog-sections__text {
  margin-bottom: 23px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    margin-bottom: 48px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__text {
    margin-bottom: 32px;
  }
}
.catalog-sections__link {
  display: block;
  border-top: 1px solid #d9d9d9;
  width: 240px;
  padding-top: 15px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    border: none;
    width: 165px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
.catalog-sections__link:hover .catalog-sections__link-aerrow {
  clip-path: inset(0 0 0 0);
}
.catalog-sections__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.catalog-sections__link:active .catalog-sections__link-aerrow :is(line, path) {
  fill: rgba(0, 0, 0, 0.3);
}
.catalog-sections__link-text {
  margin-right: 17px;
}
.catalog-sections__link-aerrow {
  position: relative;
  bottom: 3px;
  clip-path: inset(0 0 0 6px);
}
.process {
  width: 279px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .process {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .process {
    width: 1220px;
    margin-bottom: 205px;
  }
}
.process__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .process__heading {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .process__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .process__list {
    width: 1225px;
  }
}
.process__item {
  padding-left: 80px;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .process__item:first-child {
    width: 230px;
    margin-right: 153px;
  }
}
@media (min-width: 1440px) {
  .process__item:first-child {
    margin-right: 94px;
  }
}
@media (min-width: 768px) {
  .process__item:nth-child(2) {
    width: 246px;
  }
}
@media (min-width: 1440px) {
  .process__item:nth-child(2) {
    margin-right: 79px;
  }
}
@media (min-width: 768px) {
  .process__item:nth-child(3) {
    width: 246px;
    margin-right: 137px;
  }
}
@media (min-width: 1440px) {
  .process__item:nth-child(3) {
    width: 248px;
    margin-right: 77px;
  }
}
@media (min-width: 768px) {
  .process__item:nth-child(4) {
    width: 249px;
  }
}
@media (min-width: 1440px) {
  .process__item:nth-child(4) {
    width: 250px;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .process__item {
    padding: 151px 0 57px 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.process__item--leaf {
  background: url("../img/leaf.svg") no-repeat 0 0/60px 60px, none;
}
@media (min-width: 768px) {
  .process__item--leaf {
    background: url("../img/leaf.svg") no-repeat 0 40px/80px 80px, url("../img/1.svg") no-repeat 98px 0/112px 280px;
  }
}
.process__item--powder {
  background: url("../img/powder.svg") no-repeat 0 0/60px 60px, none;
}
@media (min-width: 768px) {
  .process__item--powder {
    background: url("../img/powder.svg") no-repeat 0 40px/80px 80px, url("../img/2.svg") no-repeat 118px 10px/112px 280px;
  }
}
.process__item--neal {
  background: url("../img/weight.svg") no-repeat 0 0/60px 60px, none;
}
@media (min-width: 768px) {
  .process__item--neal {
    background: url("../img/weight.svg") no-repeat 0 40px/80px 80px, url("../img/3.svg") no-repeat 123px 10px/112px 280px;
  }
}
.process__item--weight {
  background: url("../img/neal.svg") no-repeat 0 0/60px 60px, none;
}
@media (min-width: 768px) {
  .process__item--weight {
    background: url("../img/neal.svg") no-repeat 0 40px/80px 80px, url("../img/4.svg") no-repeat 125px 14px/112px 280px;
  }
}
.example {
  width: 320px;
  padding: 25px 20px 40px 20px;
  margin: 0 auto;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    width: 768px;
    padding: 0;
    padding-bottom: 56px;
    border-top: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .example {
    width: 1440px;
    position: relative;
    padding: 70px 110px 65px 110px;
    display: flex;
    align-items: flex-start;
    border: none;
  }
}
.example__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__content {
    background-color: #ffffff;
    padding: 43px 30px 250px 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__content {
    background-color: #eaeaea;
    padding: 0;
    padding-bottom: 20px;
    margin-right: 193px;
  }
}
.example__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__heading {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__heading {
    position: absolute;
    top: -130px;
    margin: 0;
  }
}
.example__text {
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .example__text {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    margin-top: 0;
    margin-bottom: 69px;
  }
}
.example__container {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__container {
    width: 366px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .example__container {
    margin-bottom: 55px;
  }
}
.example__list {
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 14px;
  border-radius: 3px;
}
.example__list:first-child {
  margin-right: 42px;
}
@media (min-width: 768px) {
  .example__list {
    width: 162px;
  }
}
.example__title {
  order: 2;
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 14px;
    line-height: 14px;
  }
}
.example__description {
  display: block;
  margin-left: 0;
  margin-bottom: 7px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .example__description {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
}
.example__spending {
  width: 190px;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .example__spending {
    width: 174px;
    margin: 0;
    margin-left: auto;
    margin-top: -70px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .example__spending {
    width: 330px;
    margin: 0;
    text-align: left;
    white-space: pre;
  }
}
@media (min-width: 768px) {
  .example__slider {
    width: 591px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .example__slider {
    margin: 0;
  }
}
.fat-cat {
  display: block;
  width: 280px;
  height: 232px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.thin-cat {
  display: none;
}
.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.switcher__button {
  border: none;
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .switcher__button {
    font-size: 20px;
  }
}
.range {
  position: relative;
  width: 85px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 14px;
  border-radius: 6px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .range {
    width: 426px;
    padding: 0;
    height: 6px;
    background-color: #dcdcdc;
  }
}
.range__bar {
  position: absolute;
  left: 6px;
  right: 43px;
  height: 6px;
  border-radius: 6px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .range__bar {
    top: -15px;
    left: 203px;
    right: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .range__bar:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }
  .range__bar:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    outline: 1px solid #68b738;
  }
  .range__bar::before {
    position: absolute;
    top: 13px;
    left: 13px;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
  }
}
.contacts {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    width: 1440px;
    padding: 95px 765px 107px 110px;
  }
}
.contacts__content {
  display: flex;
  align-items: center;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .contacts__content {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts__content {
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}
.contacts__heading {
  margin: 0;
  margin-right: 8px;
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__heading {
    width: 172px;
    margin-right: 296px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .contacts__heading {
    width: 163px;
    margin-right: 87px;
  }
}
.contacts__address {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}
.contacts__map {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .contacts__map {
    display: none;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px 22px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    align-items: center;
    width: 768px;
    padding: 58px 30px 55px 30px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    width: 1440px;
    padding: 57px 110px 58px 110px;
  }
}
.page-footer__logo {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
    margin-right: 156px;
  }
}
@media (min-width: 1440px) {
  .page-footer__logo {
    margin-right: 413px;
  }
}
.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 21px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-footer__social {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 131px;
  }
}
@media (min-width: 1440px) {
  .page-footer__social {
    margin-right: 387px;
  }
}
.social__item:first-child {
  width: 23px;
  height: 16px;
  margin-right: 36px;
}
.social__item:first-child:hover path {
  fill: #68b738;
}
.social__item:first-child:active path {
  fill: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .social__item:first-child {
    width: 30px;
    height: 22px;
    margin-right: 27px;
  }
}
.social__item:nth-child(2) {
  width: 16px;
  height: 16px;
  margin-right: 33px;
}
.social__item:nth-child(2):hover path {
  fill: #68b738;
}
.social__item:nth-child(2):active path {
  fill: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .social__item:nth-child(2) {
    width: 23px;
    height: 23px;
    margin-right: 21px;
  }
}
.social__item:nth-child(3) {
  width: 11px;
  height: 18px;
}
.social__item:nth-child(3):hover path {
  stroke: #68b738;
}
.social__item:nth-child(3):active path {
  stroke: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .social__item:nth-child(3) {
    width: 28px;
    height: 33px;
  }
}
@media (min-width: 768px) {
  .vk {
    width: 30px;
    height: 22px;
  }
}
@media (min-width: 768px) {
  .instagram {
    width: 23px;
    height: 23px;
  }
}
@media (min-width: 768px) {
  .facebook {
    width: 17.83px;
    height: 31.97px;
  }
}
.page-footer__developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #444444;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  line-height: 16px;
}
.page-footer__developer:hover {
  color: #68b738;
}
.page-footer__developer:active {
  color: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .page-footer__developer {
    margin: 0;
    width: 163px;
  }
}
.catalog-header {
  width: 100%;
  margin: 0 auto;
  padding: 11px 20px 17px 20px;
}
@media (min-width: 768px) {
  .catalog-header {
    padding: 42px 29px 65px 31px;
  }
}
@media (min-width: 1440px) {
  .catalog-header {
    padding: 54px 109px 74px 110px;
  }
}
.catalog-header__nav {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-header__nav {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .catalog-header__nav {
    width: 1221px;
  }
}
.catalog-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
@media (min-width: 768px) {
  .catalog-header__logo {
    margin-right: 95px;
  }
}
@media (min-width: 1440px) {
  .catalog-header__logo {
    margin-right: 536px;
  }
}
.catalog-header__toggler {
  position: relative;
  width: 24px;
  height: 15px;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .catalog-header__toggler {
    display: none;
  }
}
.catalog-header__toggler::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 2.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.catalog-header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
@media (min-width: 768px) {
  .catalog-header__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.catalog-header__menu--open {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1;
  display: block;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  background-color: #ffffff;
}
.catalog-header__menu-item {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .catalog-header__menu-item {
    border: none;
  }
}
@media (min-width: 768px) {
  .catalog-header__menu-item:first-child {
    margin-right: 32.5px;
  }
}
@media (min-width: 1440px) {
  .catalog-header__menu-item:first-child {
    margin-right: 33px;
  }
}
@media (min-width: 768px) {
  .catalog-header__menu-item:nth-child(2) {
    margin-right: 38px;
  }
}
@media (min-width: 1440px) {
  .catalog-header__menu-item:nth-child(2) {
    margin-right: 33px;
  }
}
.catalog-header__menu-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 20px;
}
.catalog-header__menu-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.catalog-header__menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .catalog-header__menu-link {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog-header__menu-link {
    font-size: 20px;
    line-height: 20px;
  }
}
.catalog-main__heading {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-main__heading {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .catalog-main__heading {
    width: 1220px;
  }
}
.catalog-main {
  padding: 27px 20px 0 20px;
}
@media (min-width: 768px) {
  .catalog-main {
    padding: 0 31px 0 31px;
  }
}
@media (min-width: 1440px) {
  .catalog-main {
    padding: 0px 110px 0 110px;
  }
}
.page-main__heading {
  margin: 0 auto;
  margin-bottom: 41px;
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .page-main__heading {
    width: 1440px;
    margin-bottom: 84px;
    padding-left: 100px;
  }
}
.catalog-list {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog-list {
    width: 710px;
    margin-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    width: 1220px;
    margin-bottom: 76px;
    gap: 63px 80px;
  }
}
.card {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding: 19px 20px 25px 20px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 324px;
    margin: 0;
    padding: 0 36px 39px 36px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 245px;
    padding: 0 35.5px 40px 40.5px;
  }
}
.card:last-child {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .card:last-child {
    margin-bottom: 0;
  }
}
.card__link {
  display: block;
  width: 87px;
  margin-left: 140px;
  margin-bottom: 18px;
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__link {
    width: 174px;
    margin: 0 auto;
    margin-bottom: 21px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .card__link {
    width: 145px;
    line-height: 21px;
  }
}
.card__heading {
  margin: 0;
}
.card__img {
  position: absolute;
  top: 33px;
  left: 36px;
}
@media (min-width: 768px) {
  .card__img {
    position: static;
    order: -1;
    display: block;
    margin: 0 auto;
    margin-top: -25px;
    margin-bottom: 34px;
  }
}
@media (min-width: 1440px) {
  .card__img {
    margin-bottom: 46px;
  }
}
.card__list {
  width: 142px;
  margin-left: 140px;
  margin-bottom: 22px;
  padding: 0;
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card__list {
    width: 247px;
    margin: 0 auto;
    margin-bottom: 33px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .card__list {
    width: 166px;
  }
}
.card__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .card__list-item {
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__title {
  margin: 0;
  padding: 0;
}
.card__definition {
  margin: 0;
  padding: 0;
}
.card__button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card__button {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 168px;
  }
}
@media (min-width: 768px) {
  .show-more {
    width: 324px;
    padding: 52px 37px 38px 38px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .show-more {
    width: 245px;
    padding: 51px 39px 41px 39px;
  }
}
.show-more__heading {
  margin: 0 auto;
  margin-bottom: 8px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .show-more__heading {
    width: 135px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1440px) {
  .show-more__heading {
    width: 134px;
  }
}
.show-more__text {
  margin: 0 auto;
  margin-bottom: 21px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .show-more__text {
    margin-bottom: 87px;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }
}
.show-more__button {
  display: block;
  width: 279px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
.show-more__button:hover {
  background-color: #ebebeb;
}
.show-more__button:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .show-more__button {
    width: 249px;
  }
}
@media (min-width: 1440px) {
  .show-more__button {
    width: 169px;
  }
}
.catalog-aditional {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 20px 0 20px;
}
@media (min-width: 768px) {
  .catalog-aditional {
    width: 768px;
    margin-bottom: 76px;
    padding: 0 30px 0 31px;
  }
}
@media (min-width: 1440px) {
  .catalog-aditional {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
    width: 1440px;
    margin-bottom: 86px;
    padding: 0 90px 0 90px;
  }
}
.catalog-aditional__heading {
  margin: 0;
  margin-bottom: 36px;
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-aditional__heading {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-aditional__heading {
    margin-bottom: 81px;
    grid-column: 1/-1;
  }
}
.catalog-aditional__list {
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 35px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .catalog-aditional__list {
    width: 708px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .catalog-aditional__list {
    width: 896px;
    margin: 0;
  }
}
.card-row {
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .card-row {
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: 1440px) {
  .card-row {
    display: flex;
    align-items: center;
    padding: 15px 0 17px 0;
  }
}
.card-row__content {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card-row__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .card-row__content {
    margin: 0;
  }
}
.card-row__heading {
  width: 130px;
  margin: 0;
  margin-bottom: 13px;
  color: #222222;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card-row__heading {
    width: 163px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card-row__heading {
    width: 161px;
    margin-right: 163px;
  }
}
.card-row__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 282px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .card-row__list {
    width: 225px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .card-row__list {
    width: 282px;
    margin-right: 38px;
  }
}
.card-row__definition {
  margin: 0;
  padding: 0;
}
.card-row__button {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card-row__button {
    width: 632px;
  }
}
@media (min-width: 1440px) {
  .card-row__button {
    width: 244px;
  }
}
.offer {
  width: 280px;
  margin: 0 auto;
  background-image: url("../img/catalog/offer-background.png");
  background-size: 279px 289px;
}
@media (min-width: 768px) {
  .offer {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .offer {
    width: 245px;
  }
}
.offer__block {
  padding: 58px 61px 43px 58px;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .offer__block {
    padding: 57px 124px 60px 77px;
  }
}
@media (min-width: 1440px) {
  .offer__block {
    padding: 55px 43px 42px 40px;
  }
}
.offer__text {
  width: 161px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .offer__text {
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .offer__text {
    text-align: center;
  }
}
.catalog-contacts {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-contacts {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts {
    width: 1440px;
    padding: 95px 765px 107px 110px;
    background-color: aqua;
  }
}
.catalog-contacts__content {
  display: flex;
  align-items: center;
  padding: 26px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-contacts__content {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts__content {
    padding: 56px 80px;
  }
}
.catalog-contacts__heading {
  margin: 0;
  margin-right: 8px;
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog-contacts__heading {
    width: 171px;
    margin-right: 296px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts__heading {
    width: 163px;
    margin-right: 87px;
  }
}
.catalog-contacts__address {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-contacts__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .catalog-contacts__address {
    width: 155px;
    text-align: left;
  }
}
.catalog-contacts__map {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .catalog-contacts__map {
    display: none;
  }
}
.form-menu-link {
  color: #000000;
}
.form-menu-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.form-menu-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.form-main {
  padding-top: 27px;
}
@media (min-width: 768px) {
  .form-main {
    padding-top: 0px;
  }
}
@media (min-width: 1440px) {
  .form-main {
    padding-top: 73px;
  }
}
.form-main__heading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .form-main__heading {
    width: 708px;
    padding-left: 39px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .form-main__heading {
    width: 1220px;
    padding-left: 0;
    margin-bottom: 56px;
  }
}
.form-main__subheading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 39px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form-main__subheading {
    width: 708px;
    padding-left: 39px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form-main__subheading {
    width: 1220px;
    padding-left: 0;
  }
}
.form {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .form {
    width: 1220px;
  }
}
@media (min-width: 1440px) {
  .form__body {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }
}
.cat-data {
  width: 280px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .cat-data {
    width: 630px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .cat-data {
    width: 569px;
    margin: 0;
    margin-bottom: 65px;
  }
}
.cat-data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cat-data__item:not(:last-child) {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .cat-data__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.cat-data__label {
  display: flex;
  align-items: center;
}
.cat-data__lead {
  margin-right: 13px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .cat-data__lead {
    font-size: 20px;
    line-height: 20px;
  }
}
.cat-data__field {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  padding: 14.2px 14.12px 14.8px 14.12px;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
.cat-data__field::placeholder {
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .cat-data__field::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .cat-data__field {
    padding: 10px 18px 10px 18px;
    font-size: 20px;
    line-height: 20px;
  }
}
.goal {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .goal {
    width: 628px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    margin-bottom: 71px;
    padding: 25px 27px;
  }
}
@media (min-width: 1440px) {
  .goal {
    width: 568px;
    margin: 0;
    margin-bottom: 65px;
    padding: 25px 28px;
  }
}
.goal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.goal__item:not(:last-child) {
  margin-bottom: 13px;
}
.goal__label {
  display: flex;
  align-items: center;
}
.goal__label input:checked + .goal__radio-visual::before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .goal__label input:checked + .goal__radio-visual::before {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}
.goal__radio-visual {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .goal__radio-visual {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.goal__radio-lead {
  color: #222222;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .goal__radio-lead {
    font-size: 20px;
    line-height: 20px;
  }
}
.user-data {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .user-data {
    width: 708px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .user-data {
    display: flex;
    grid-column: 1/-1;
    width: 1220px;
    margin-bottom: 69px;
  }
}
.user-data__heading {
  width: 187px;
  margin-bottom: 35px;
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .user-data__heading {
    width: 590px;
    margin-left: -60px;
    margin-bottom: 76px;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .user-data__heading {
    width: 522px;
    margin-left: -352px;
  }
}
.user-data__label {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .user-data__label {
    margin-left: 40px;
    margin-right: 35px;
  }
}
@media (min-width: 1440px) {
  .user-data__label {
    margin: 0;
    width: 570px;
  }
}
.email-label {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .email-label {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .email-label {
    margin-bottom: 0;
    margin-right: 78px;
  }
}
.user-data__lead {
  margin-right: 14px;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .user-data__lead {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .user-data__lead {
    margin-right: 20px;
  }
}
.user-data__field {
  flex-grow: 1;
  border: 1px solid #cdcdcd;
  padding: 14.95px 16.24px 15.24px 16.24px;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
.user-data__field::placeholder {
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .user-data__field::placeholder {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .user-data__field {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
.comment {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .comment {
    width: 708px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .comment {
    grid-column: 1/-1;
    width: 1220px;
    margin-bottom: 67px;
  }
}
.comment__heading {
  width: 131px;
  margin-bottom: 37px;
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .comment__heading {
    width: 260px;
    margin-left: -225px;
    margin-bottom: 76px;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .comment__heading {
    margin-left: -520px;
  }
}
.comment__field {
  width: 280px;
  border: 1px solid #e7e7e7;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .comment__field {
    display: block;
    width: 631px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .comment__field {
    width: 1220px;
    margin: 0;
  }
}
.comment__field::placeholder {
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .comment__field::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.more {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .more {
    width: 708px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .more {
    grid-column: 1/-1;
    width: 1220px;
    margin-bottom: 61px;
  }
}
.more__heading {
  width: 161px;
  margin-bottom: 34px;
  color: #000000;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .more__heading {
    width: 285px;
    margin-left: -212px;
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .more__heading {
    margin-left: -500px;
  }
}
.more__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .more__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
    width: 565px;
    margin-left: 40px;
  }
}
@media (min-width: 1440px) {
  .more__list {
    width: 1220px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .more__item {
    width: 221px;
  }
}
.more__item:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .more__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.more__label {
  display: flex;
  align-items: center;
}
.more__visual-checkbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .more__visual-checkbox {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}
.more__label input:checked + .more__visual-checkbox {
  background: url("../img/form/tip.svg") no-repeat center / 18px 14px;
}
@media (min-width: 768px) {
  .more__label input:checked + .more__visual-checkbox {
    background-size: 24px 18px;
  }
}
.more__lead {
  color: #000000;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .more__lead {
    font-size: 20px;
    line-height: 20px;
  }
}
.form__submit-container {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .form__submit-container {
    display: flex;
    align-items: center;
    width: 565px;
    margin: 0;
    margin-left: 40px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form__submit-container {
    width: 1220px;
    margin: 0;
    padding-bottom: 82px;
  }
}
.form__submit {
  display: block;
  width: 280px;
  border: none;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__submit {
    width: 282px;
    margin: 0;
    margin-right: 61px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .form__submit {
    width: 568px;
    margin-right: 81px;
  }
}
.form__slogan {
  display: block;
  width: 157px;
  margin: 0 auto;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__slogan {
    width: 180px;
    margin: 0;
    font-size: 16px;
  }
}
.form__contacts {
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .form__contacts {
    width: 768px;
    padding: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .form__contacts {
    width: 1440px;
    padding: 95px 110px 107px 110px;
    background-color: aqua;
  }
}
.form-contacts__content {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form-contacts__content {
    justify-content: space-between;
    padding: 56px 70px;
    margin: 0;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .form-contacts__content {
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}
.form-contacts__heading {
  margin: 0;
  margin-right: 13px;
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form-contacts__heading {
    width: 178px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
}
.form-contacts__address {
  margin: 0;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form-contacts__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
  }
}
.form-contacts__map {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .form-contacts__map {
    display: none;
  }
}
