@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
.page__body {
  background-color: #ffffff;
  color: #444444;
  font-family: sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
}
.page-header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.page-header__menu-link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald";
  font-weight: 900;
  font-style: normal;
}
.promo {
  background-image: url('../img/promo-background.png');
  background-position: 0 0;
  background-size: 320px 302px;
  background-repeat: repeat;
  color: #ffffff;
  text-align: center;
}
.promo__block {
  padding-top: 27px;
  background-color: rgba(104, 183, 56, 0.85);
}
.promo__heading {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}
.promo__text {
  font-family: "Oswald";
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.promo__button {
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
.catalog-sections__item {
  background-color: #f2f2f2;
}
.catalog-sections__heading {
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
}
.catalog-sections__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
.catalog-sections__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}
.process__heading {
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}
.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.process__item {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
.example {
  background-color: #eaeaea;
}
.example__title {
  color: #000000;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}
.example__text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
.example__list {
  text-align: center;
}
.example__list .example__title {
  color: #444444;
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
}
.example__list .example__description {
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}
.example__spending {
  color: #000000;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
}
.switcher__button {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
.contacts__heading {
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
.contacts__address {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}
.page-footer {
  background-color: #f2f2f2;
}
.page-footer__developer {
  color: #444444;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  line-height: 16px;
}
