//colors
@basic_black: #000000;
@special_black: #111111;
@special_black_2: #222222;
@basic_white: #ffffff;
@basic_green: #68b738;
@basic_grey: #f2f2f2;
@special_dark_grey: #444444;
@normal_grey: #eaeaea;

