.comment {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid @basic_green;
  margin-bottom: 22px;
}

.comment__heading {
  width: 131px;
  margin-bottom: 37px;
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}

.comment__field {
  width: 280px;
  border: 1px solid #e7e7e7;
  padding-top: 9px;
  padding-left: 15px;
  color: @special_dark_grey;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    color: @special_dark_grey;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
  }
}
