.comment {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid @basic_green;
  margin-bottom: 22px;

  @media (min-width: @tablet) {
    width: 708px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop) {
    grid-column: 1/-1;
    width: 1220px;
    margin-bottom: 67px;
  }
}

.comment__heading {
  width: 131px;
  margin-bottom: 37px;
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet) {
    width: 260px;
    margin-left: -225px;
    margin-bottom: 76px;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop) {
    margin-left: -520px;

  }
}

.comment__field {
  width: 280px;
  border: 1px solid #e7e7e7;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 15px;
  color: @special_dark_grey;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet) {
    display: block;
    width: 631px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    margin: 0;
  }

  &::placeholder {
    color: @special_dark_grey;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;

    @media (min-width: @tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
