.field-group {
  border: none;
  margin: 0;
  padding: 0;
}

.field-group__heading {
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}

.field-group__list {
  .list-reset();
}

.field__lead {
  color: @special_dark_grey;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}

.field__input {

  &::placeholder {
    color: @special_dark_grey;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
  }
}

.control__lead {
  color: @special_black_2;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}


.form__button {
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}

.form__aditional {
  color: @basic_black;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}
