.form-main {
  padding-top: 27px;

  @media (min-width: @tablet) {
    padding-top: 0px;
  }

  @media (min-width: @desktop) {
    padding-top: 73px;
  }
}

.form-main__heading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
  color: @basic_black;
  font-family: "Oswald";
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet) {
    width: 708px;
    padding-left: 39px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    padding-left: 0;
    margin-bottom: 56px;
  }
}

.form-main__subheading {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 39px;
  color: @basic_black;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet) {
    width: 708px;
    padding-left: 39px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    padding-left: 0;
  }
}
