.form__submit-container {
  outline: 1px solid red;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 32px;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    width: 565px;
    margin: 0;
    margin-left: 40px;
    padding-bottom: 72px;
  }
}

.form__submit {
  display: block;
  width: 280px;
  border: none;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: @basic_green;
  color: @basic_white;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet) {
    width: 282px;
    margin: 0;
    margin-right: 61px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}

.form__slogan {
  display: block;
  width: 157px;
  margin: 0 auto;
  color: @basic_black;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet) {
    width: 180px;
    margin: 0;
    font-size: 16px;
  }
}
