.form__submit-container {
  outline: 1px solid red;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 32px;
}

.form__submit {
  display: block;
  width: 280px;
  border: none;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: @basic_green;
  color: @basic_white;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}

.form__slogan {
  display: block;
  width: 157px;
  margin: 0 auto;
  color: @basic_black;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}
