.goal {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: @tablet) {
    width: 628px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    margin-bottom: 71px;
    padding: 25px 27px;
  }

  @media (min-width: @desktop) {
    width: 568px;
    margin: 0;
    margin-bottom: 65px;
    padding: 25px 28px;
  }
}

.goal__list {
  .list-reset();
}

.goal__item {

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.goal__radio-lead {
  color: @special_black_2;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}
