.more {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid @basic_green;
  margin-bottom: 34px;

  @media (min-width: @tablet) {
    width: 708px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop) {
    grid-column: 1/-1;
    width: 1220px;
    margin-bottom: 61px;
  }
}

.more__heading {
  width: 161px;
  margin-bottom: 34px;
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet) {
    width: 285px;
    margin-left: -212px;
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  @media (min-width: @desktop) {
    margin-left: -500px;
  }
}

.more__list {
  .list-reset();

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
    width: 565px;
    margin-left: 40px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    margin: 0;
  }
}

.more__item {
  @media (min-width: @tablet) {
    width: 221px;
  }
  &:not(:last-child) {
    margin-bottom: 12px;

    @media (min-width: @tablet) {
      margin-bottom: 0;
    }
  }
}

.more__label {
  display: flex;
  align-items: center;
}

.more__visual-checkbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 16px;

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.more__label input:checked + .more__visual-checkbox {
  background: url("../img/form/tick.svg") no-repeat center/26px 26px;

  @media (min-width: @tablet) {
    background-size: 26px 26px;
  }
}

.more__lead {
  color: @basic_black;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}
