.more {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid @basic_green;
  margin-bottom: 34px;
}

.more__heading {
  width: 161px;
  margin-bottom: 34px;
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}

.more__list {
  .list-reset();
}

.more__item {

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.more__lead {
  color: @basic_black;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
