*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100vh;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: @basic_white;
  color: @special_dark_grey;
  font-family: sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
}
