.page-header {
  position: relative;
  z-index: 1;
  padding: 10px 10px 17px 20px;

  @media (min-width: @tablet) {
    padding: 24px 30px 62px 30px;
  }

  @media (min-width: @desktop) {
    padding: 53px 110px 0 110px;
  }
}

.page-header__nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: @tablet) {
    width: 708px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;

  @media (min-width: @tablet) {
    margin-right: 94px;
  }

  @media (min-width: @desktop) {
    margin-right: 540px;
  }
}

.logo__image {
  margin-right: 56px;

  @media (min-width: @tablet) {
    margin-right: 12px;
  }
}

.page-header__toggler {
  position: relative;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 24px;
    height: 1.5px;
    background-color: @basic_black;
    box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
  }
}

.page-header__menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  .list-reset();
  text-align: center;
  background-color: transparent;

  &--open {
    display: block;
  }

  @media (max-width: 768px) {
    background-color: @basic_white;
  }

  @media (min-width: @tablet) {
    position: static;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop) {
    width: 488px;
  }
}

.page-header__menu-item {
  border-bottom: 1px solid #e6e6e6;

  &--active {
    text-decoration: underline;
    text-decoration-color: @basic_green;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;

    @media (max-width: 768px) {
      text-decoration: none;
    }
  }

  @media (min-width: @tablet) {
    border: none;
  }

  @media (min-width: @desktop) {
    text-decoration-color: @basic_white;
  }

  &:first-child {
    @media (min-width: @tablet) {
      margin-right: 34px;
    }

    @media (min-width: @desktop) {
      margin-right: 37px;
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet) {
      margin-right: 36px;
    }

    @media (min-width: @desktop) {
      margin-right: 36px;
    }
  }
}

.page-header__menu-link {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: block;
  color: @basic_black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald";
  font-weight: 900;
  font-style: normal;

  @media (min-width: @tablet) {
    display: inline;
    padding: 0;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      color: fade(@basic_black, 60%);
    }

    &:active {
      color: fade(@basic_black, 30%);
    }
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 20px;
    color: @basic_white;

    &:hover {
      color: fade(@basic_white, 60%);
    }

    &:active {
      color: fade(@basic_white, 30%);
    }
  }
}
