.catalog-header {
  width: 100%;
  margin: 0 auto;
  padding: 11px 20px 17px 20px;

  @media (min-width: @tablet) {
    padding: 42px 29px 65px 31px;
  }

  @media (min-width: @desktop) {
    padding: 54px 109px 74px 110px;
  }
}

.catalog-header__nav {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 707px;
  }

  @media (min-width: @desktop) {
    width: 1221px;
  }
}

.catalog-header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;

  @media (min-width: @tablet) {
    margin-right: 95px;
  }

  @media (min-width: @desktop) {
    margin-right: 536px;
  }
}

.catalog-header__toggler {
  position: relative;
  width: 24px;
  height: 15px;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet) {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 24px;
    height: 2.5px;
    background-color: @basic_black;
    box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
  }
}

.catalog-header__menu {
  .list-reset();
  display: none;

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.catalog-header__menu--open {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1;
  display: block;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  background-color: @basic_white;
}

.catalog-header__menu-item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: @tablet) {
    border: none;
  }

  &:first-child {
    @media (min-width: @tablet) {
      margin-right: 32.5px;
    }

    @media (min-width: @desktop) {
      margin-right: 33px;
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet) {
      margin-right: 38px;
    }

    @media (min-width: @desktop) {
      margin-right: 33px;
    }
  }
}

.catalog-header__menu-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  color: @basic_black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 20px;
  line-height: 20px;

  &:hover {
    color: fade(@basic_black, 60%);
  }

  &:active {
    color: fade(@basic_black, 30%);
  }

  @media (min-width: @tablet) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-main__heading {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: 708px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
  }
}
