.card__link {
  color: @special_black_2;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__list {
  color: @special_dark_grey;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

.card__button {
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}

.show-more__heading {
  color: @special_black;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}

.show-more__text {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  background-color: @basic_grey;
  color: @special_dark_grey;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}
