.catalog-aditional__heading {
  color: @basic_black;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}

.catalog-aditional__list {
  .list-reset();
}

.card-row__heading {
  color: @special_black_2;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}

.card-row__list {
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
}

.card-row__button {
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
}


.offer {
  background-image: url("../img/catalog/offer-background.png");
  background-size: 279px 289px;
  color: @basic_white;
  text-align: center;
}

.offer__block {
  background-color: fade(@basic_green, 85%);
}
